@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body{
  padding:0;
  margin:0;
  font-family: var(--font-family);
}

a{
  color:inherit;
  text-decoration: none;
}
td {
  padding: 0;
}
*{
  box-sizing:border-box;
}

.hide-header .p-datatable-thead {
  display: none;
}